.plus{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition:all 0.5s ease-out;
}

.add-btn:hover img {
    transform:scale(1.2);
}