.modal {
    animation: fade .9s ease-out 0.1s both;
    background-color: rgba(0, 0, 0, 0.49);
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fade{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
}

.form {
    display: block;
    padding: 0.01em 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form .todo-input {
    outline: 0;
    background: #fafafa;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}


.form .todo-input::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 5px;
}

.focus-text{
    font-family: sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}