.checkbox{
    margin-right: 10px;
    padding-top: 3px;
}

.ToDos {
    opacity: 0.8;
}

li{
    font-size: medium;
    font-family: sans-serif;
    list-style: none;

}

.clock h2 {
    display: flex;
    color: white;
    font-size: 800%;
}

.plus{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 30px;
    position: fixed;
}

.remove{
    padding-left: 25px;
}